{% extends "__base.html" %}

{% block content %}
    <p>Hey Scale!</p>

    <p>
        The backpanel can be found at
        <a href="{% url 'annotation:scaler_backpanel' %}">
            {% url 'annotation:scaler_backpanel' %}
        </a>.
    </p>

    <p>The get task button is linked up to {% url 'annotation:next_task' %} -- this accepts GETs only.</p>
    <p>The submit task button is linked up to {% url 'annotation:submit_task' %} -- this accepts POSTs only.</p>
    <p>Tasks can be created by POSTing at {% url 'annotation:create_task' %}.</p>

    <p>For convenience, there's a script named 'create_a_test_task.py' in the root of the repo. This can be edited to point at heroku or your local server and to change the callback url.</p>

    <p>Completed tasks are POSTed at the callback url via json in the request BODY.</p>



{% endblock %}
