{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Titles are good{% endblock %} | Site Names Too!
        </title>

        {% block css %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {% block js %}
            <script src="{% static "js/bundles/commons-bundle.js" %}"></script>
        {% endblock %}
    </body>
</html>
