{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="scaler-backpanel-app">
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/bundles/scaler-backpanel-app-bundle.js" %}"></script>
{% endblock %}
